#mainBanner {
  display: flex;
  ;
}

#mainBanner .bannerItem {
  display: flex;
}

#mainBanner .bannerItemBg {
  display: flex;
  
}

#mainBanner .bannerItemBg img {
  margin-left: -70px;
  z-index: -1;


}

#mainBanner .bannerItemBg h3{
  color: #fff;
  position: absolute;
  font-weight: 900;
  font-size: 30px;
  line-height:45px;
}


